@import 'tailwindcss/base';
/* import custom base style files here */

@import 'tailwindcss/components';
/* import custom component style files here */
@import './components/cust.css';

@import 'tailwindcss/utilities';
/* import custom utility files here */

html,
body,
#root {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}
